@{
    ViewBag.Title = "Регистрация завершена";
    Layout = "_Layout";
}

<h2>Спасибо за регистрацию.</h2>

Регистрация прошла успешно, пожалуйста, <b>подтвердите ваш почтовый адрес</b>. Письмо отправлено на введенную вами почту.