@model PageableData<CommentDto>

<div id="comments" class="full-width">Комментарии: @Model.TotalItems @*<button (click)="update()"><span class="glyphicon glyphicon-refresh text-success"></span></button>*@</div>
@foreach (var comment in Model.List)
{
    @await Component.InvokeAsync("CommentDetail", new { comment, deep = 0})
    @*<comment-detail [item]="comment" [deep]="0" [materialId]="materialId" [canCommentary]="canCommentary" [type]="type" [matchId]="matchId"></comment-detail>*@
}
@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-controller="Comment" asp-action="Create">
        <textarea class="tiny" id="newComment"></textarea>
        <button id="sendNewComment" type="submit">Добавить</button>
    </form>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.2/tinymce.min.js"
    integrity="sha256-2DEM8ybpCSGNF32f4l2CcIx5gTWZvKIQn+3bZDL4Qkc="
    crossorigin="anonymous"></script>*@
    <script>

    </script>
}